# Neural Networks Final Project

## Library Imports

In [53]:
import pandas as pd
import numpy as np

def warn(*args, **kwargs):
    pass

import warnings
warnings.warn = warn

## Download Dataset

In [54]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Creating Features

In [55]:
concrete_data_columns = concrete_data.columns

X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

## Creating Targets

In [56]:
y = concrete_data['Strength']
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Number of Inputs for the Neural Network

In [57]:
n_cols = X.shape[1]
n_cols

8

## Additional Library Imports for Deep Learning

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [59]:
import keras

In [60]:
from keras.layers import Dense
from keras.models import Sequential

## Defining Baseline Regression Model

In [61]:
def baseline_regression_model():
    model = Sequential()
    model.add(Dense(10 , activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [62]:
model = baseline_regression_model()

## Training Baseline Regression Model

In [63]:
base_errors =[]

In [64]:
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    base_errors.append(mean_squared_error(y_test, y_pred))

## Evaluating Baseline Regression Model

In [65]:
base_mean_error = np.mean(base_errors)

In [66]:
base_std_error = np.std(base_errors)

## Results

In [67]:
print('The baseline mean value of mean squared error is:', base_mean_error)

The baseline mean value of mean squared error is: 62.79485502467323

In [68]:
print('The baseline standard deviation value of mean squared error is:', base_std_error)

The baseline standard deviation value of mean squared error is: 43.054908894752664

The baseline results have been calculated. Now these results can be used for comparison with additional models.