# Neural Networks Final Project

## Library Imports

In [12]:
def warn(*args, **kwargs):
    pass

import warnings
warnings.warn = warn

import pandas as pd
import numpy as np

## Download Dataset

In [13]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Creating Normalized Features

In [14]:
concrete_data_columns = concrete_data.columns

X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [15]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

## Creating Targets

In [16]:
y = concrete_data['Strength']
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Number of Inputs for the Neural Network

In [17]:
n_cols = X_norm.shape[1]
n_cols

8

## Additional Library Imports for Deep Learning

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [19]:
import keras

In [20]:
from keras.layers import Dense
from keras.models import Sequential

## Defining Normalized Regression Model

In [21]:
def normalized_regression_model():
    model = Sequential()
    model.add(Dense(10 , activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [22]:
model = normalized_regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

## Training Normalized Regression Model

In [23]:
norm_errors =[]

In [24]:
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    norm_errors.append(mean_squared_error(y_test, y_pred))

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2022-12-20 17:20:06.709472: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2022-12-20 17:20:06.730286: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2095120000 Hz
2022-12-20 17:20:06.743644: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x5639af1146a0 executing computations on platform Host. Devices:
2022-12-20 17:20:06.743725: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-12-20 17:20:07.004711: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

## Evaluating Normalized Regression Model

In [26]:
norm_mean_error = np.mean(norm_errors)

In [27]:
norm_std_error = np.std(norm_errors)

## Results

In [28]:
print("The normalized data's mean value of mean squared error is:", norm_mean_error)

The normalized data's mean value of mean squared error is: 52.43295732122318

In [29]:
print("The normalized data's standard deviation of mean squared error is:", norm_std_error)

The normalized data's standard deviation of mean squared error is: 70.05224531774967

The results have been calculated. Now these results can be used for comparison with the baseline model.

Comparing with the baseline model, it can be seen that the mean value of the mean-squared error for the data has decreased which indicates that the model with normalized predictors is more accurate.

At the same time, the standard deviation of the mean-squared error for the data has increased which indicates that the model with the normalized predictors has more variance in the mean-squared error.