<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [21]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [23]:
# your code goes here
df_dup=df[df.duplicated()]
len(df_dup)

154

In [22]:
len(df)

11552

In [17]:
df_dup=df[df.duplicated('Respondent')]
len(df_dup)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [24]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [25]:
# your code goes here
df_dup=df[df.duplicated()]
len(df_dup)

0

In [30]:
len(df['Respondent'].unique())

11398

## Finding Missing values

Find the missing values for all columns.

In [33]:
# your code goes here
df.isnull().sum().sum()

30967

Find out how many rows are missing in the column 'WorkLoc'

In [34]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

In [35]:
df['Country'].isnull().sum()

0

In [36]:
df['EdLevel'].isnull().sum()

112

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [37]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [47]:
df['Employment'].value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [48]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [2]:
#make a note of the majority value here, for future reference
#Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [45]:
# your code goes here
df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [46]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [49]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [50]:
# your code goes here
df2=df

In [61]:
NormalizedAnnualCompensation=[]
for i in range(len(df['CompFreq'])):
         if(df['CompFreq'].iloc[i])=='Yearly':
            NormalizedAnnualCompensation.append(df['CompTotal'].iloc[i])
         
         elif(df['CompFreq'].iloc[i])=='Monthly':
            NormalizedAnnualCompensation.append((df['CompTotal'].iloc[i])*12)
         
         elif(df['CompFreq'].iloc[i])=='Weekly':
            NormalizedAnnualCompensation.append((df['CompTotal'].iloc[i])*52)
         else:
            NormalizedAnnualCompensation.append(0)

In [62]:
len(NormalizedAnnualCompensation)

11398

In [63]:
len(df)

11398

In [64]:
df['NormalizedAnnualCompensation'] = NormalizedAnnualCompensation

In [71]:
df.iloc[11397]

Respondent                                                                  25142
MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
OpenSourcer                     Less than once a month but more than once per ...
OpenSource                      OSS is, on average, of HIGHER quality than pro...
                                                      ...
Ethnicity                                            White or of European descent
Dependents                                                                     No
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
NormalizedAnnualCompensation                                                  0.0
Name: 11551, Length: 86, dtype: object

In [74]:
df2=df

In [75]:
NormalizedAnnualCompensation=[]
for i in range(len(df['CompFreq'])):
         if(df['CompFreq'].iloc[i])=='Yearly':
            NormalizedAnnualCompensation.append(df['CompTotal'].iloc[i])
         
         elif(df['CompFreq'].iloc[i])=='Monthly':
            NormalizedAnnualCompensation.append((df['CompTotal'].iloc[i])*12)
         
         elif(df['CompFreq'].iloc[i])=='Weekly':
            NormalizedAnnualCompensation.append((df['CompTotal'].iloc[i])*52)

In [78]:
sd1=pd.Series(NormalizedAnnualCompensation)

In [79]:
sd1.median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).